%h2.text-center Log In
= render 'layouts/tab_bar', page: :session_new

= form_tag session_path, class: 'form-group' do |f|
  .form-group
    = email_field_tag :email, nil, placeholder: "email", class: 'form-control'
  .form-group
    = password_field_tag :password, nil, placeholder: "password", class: 'form-control'
  .text-center
    = submit_tag 'Log In', class: 'btn btn-primary'
