= form_for @task, class: 'form-inline' do |f|
  .form-group.required
    = f.text_field :name, placeholder: "name", class: 'form-control'
  .form-group
    = f.text_field :comment, placeholder: "comment", class: 'form-control'
  .form-group
    = f.datetime_select :done_at, default: Time.now.in_time_zone, use_month_numbers: true, class: 'form-control'
  - if @task.new_record?
    = f.submit 'Add', class: 'btn btn-default'
  - else
    = f.submit 'Save', class: 'btn btn-default'
