= form_for @task, class: 'form-inline' do |f|
  .form-group
    = f.text_field :done_at, value: f.object.done_at.try(:strftime, "%Y-%m-%d"), class: 'form-control', "data-provide" => 'datepicker', "data-date-format" => "yyyy-mm-dd"
    / = f.label 'To Do Time Point'
  .form-group.required
    = f.text_field :name, placeholder: "name of task (necessary)", class: 'form-control'
  .form-group
    = f.text_field :comment, placeholder: "comment", class: 'form-control'
  .checkbox
    = f.label :is_daily do
      = f.check_box :is_daily
      Let's do it everyday!
  .text-right
    - if @task.new_record?
      = f.submit 'Add', class: 'btn btn-default'
    - else
      = f.submit 'Update', class: 'btn btn-default'
