= turbo_frame_tag dom_id(task) do
  .task
    .row{style: "margin-bottom: 10px"}
      .col-md-7.col-sm-8.col-7
        .text-left
          - if current_cont?('tasks', 'show')
            = task_name(task)
          - else
            = link_to task_name(task), task
          %small
            %code on #{task_date(task)}
          %span{style:"margin-left: 2px;"}
            = task.comment
      .col-md-5.col-sm-4.col-5
        .text-right
          = link_to fa_icon_with_removed_text('check', text: 'Done'), clear_task_path(task), method: "post", remote: true, class: 'btn btn-default btn-sm'
          = link_to fa_icon_with_removed_text('bolt', text: 'Edit'), edit_task_path(task), class: 'btn btn-warning btn-sm'
    .overlap
      = progress_bar_tag(task)
      = progress_bar_text(task)
