%div
  .row
    .col-md-7.col-sm-8.col-xs-7
      %p.text-left
        - if current_cont?('tasks', 'show')
          = task_name(task)
        - else
          = link_to task_name(task), task
        %small
          %code on #{task_date(task)}
        %span{style:"margin-left: 2px;"}= task.comment
    .col-md-5.col-sm-4.col-xs-5
      %p.text-right
        = link_to fa_icon_with_removed_text('check', text: 'Visit'), clear_task_path(task), method: "post", class: 'btn btn-default btn-sm'
        = link_to fa_icon_with_removed_text('bolt', text: 'Edit'), edit_task_path(task), class: 'btn btn-warning btn-sm'
  .overlap{style: "margin-bottom: 10px;"}
    = progress_bar_tag(task)
    = progress_bar_text(task)
