= turbo_frame_tag dom_id(task) do
  .task{style: "margin-bottom: 12px"}
    .row{style: "margin-bottom: 0"}
      .col-sm-8.col-7
        %p.text-start
          - if current_cont?('tasks', 'show')
            = task_name(task)
          - else
            = link_to task_name(task), task, data: { turbo_frame: "_top" }
          %small
            %code on #{task_date(task)}
          %span{style:"margin-left: 2px;"}
            = task.comment
      .col-sm-4.col-5
        .d-flex.action-buttons.justify-content-end
          = link_to fa_icon_with_removed_text('pencil', text: 'Edit'), edit_task_path(task), data: { turbo_frame: "_top" }, class: 'btn btn-outline-warning btn-sm float-right'
          = button_to fa_icon_with_removed_text('check', text: 'Done'), clear_task_path(task), class: 'btn btn-outline-second btn-sm', form_class: 'float-right'
    .overlap.position-relative
      = progress_bar_tag(task)
