= render 'layouts/tab_bar', title: "Tasks in touch"

.row
  .col-md-8.offset-md-2.col-sm-6.offset-sm-3
    .text-center
      = render @task

    - if @task.visits.any?
      %ul.list-group
      - @task.visits.each do |visit|
        %li.list-group-item
          = button_to fa_icon('times'), task_visit_path(@task, visit), method: :delete, class: 'float-right border-0 badge badge-danger'
          = visit.created_at.in_time_zone.strftime("%A, %Y-%m-%d")
          = visit.note
