%h2.text-center= "\"#{@task.name}\" has #{pluralize(@task.visits.count, 'visit')}"
= render 'layouts/tab_bar', page: :task_show

.text-center
  = render(@task)

- if @task.visits.blank?
  .text-center
    No Visits for this task yet.
- else
  - @task.visits.each do |visit|
    .row
      .col-md-10.col-sm-11.col-xs-10
        = simple_format visit.note
        .text-right
          %p
            %small
              %strong
                = time_ago_in_words(visit.created_at)
                ago /
                = time_ago_in_words(visit.updated_at)
                ago
      .col-md-2.col-sm-1.col-xs-2
        .text-right
          = button_to [@task, visit], method: :delete, class: 'btn btn-danger btn-sm' do
            - fa_icon_with_removed_text('times', text: 'Delete')
    = form_for [@task, visit], action: 'update' do |f|
      .row
        .col-md-10.col-sm-11.col-xs-10
          .text-left
            = f.text_area :note, class: 'form-control', row: 3
        .col-md-2.col-sm-1.col-xs-2
          .text-right
            = f.button class: 'btn btn-default btn-sm' do
              = fa_icon_with_removed_text('refresh', text: 'Update Note')
    %p
