%h2.text-center= "\"#{@task.name}\" has #{pluralize(@task.visits.count, 'visit')}"
= render @task

%table.table.table-condensed
  %thead
    %tr
      %th
      %th note
      %th created_at
      %th updated_at
  %tbody
    - @task.visits.each do |visit|
      %tr
        %td= visit.id
        %td= visit.note
        %td= visit.created_at
        %td= visit.updated_at
