<div class="flex justify-center">
  <div class="w-full md:w-1/2 md:mx-auto sm:w-2/3 sm:mx-auto px-4">
    <%= form_for @user do |f| %>
      <div class="mb-4">
        <%= f.text_field :username, placeholder: "username", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.email_field :email, placeholder: "email", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.password_field :password, placeholder: "password", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="text-right">
        <% if @user.new_record? %>
          <%= f.submit 'Sign Up', class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
        <% else %>
          <%= f.submit 'Update', class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded border border-gray-700 focus:outline-none focus:shadow-outline' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
