%h2.text-center Register

%p= link_to "Log In", new_session_path, class: 'btn btn-link center-block'

= form_for @user, class: 'form-inline' do |f|
  .form-group.required
    = f.text_field :username, placeholder: "username", class: 'form-control'
  .form-group
    = f.text_field :email, placeholder: "email", class: 'form-control'
  .form-group
    = f.password_field :password, placeholder: "password", class: 'form-control'
  - if @user.new_record?
    = f.submit 'Register', class: 'btn btn-default'
  - else
    = f.submit 'Update', class: 'btn btn-default'