<% if current_user %>
  <div class="flex justify-center items-center space-x-4">
    <div class="px-2">
      <%= link_to current_user.username.capitalize, edit_user_path(current_user), class: 'py-2 px-4 rounded hover:bg-gray-100' %>
    </div>
    <div class="px-2">
      <%= button_to "Log Out", session_path, method: :delete, class: 'py-2 px-4 rounded hover:bg-gray-100' %>
    </div>
  </div>
<% end %>
<hr class="my-4">
<p class="text-center text-sm text-gray-600">
  <%= link_to "ongoin.gs", root_path, class: 'text-gray-700 hover:text-gray-900' %>
  &copy; 2025
</p>
<div class="flex justify-center items-center gap-4 mt-10">
  <%= link_to "https://apps.apple.com/app/ongoings/id6745422976", target: "_blank" do %>
    <%= image_tag "download_on_app_store_badge.svg", alt: "Link to App Store", class: "h-12 w-auto" %>
  <% end %>
  <%= link_to "#", target: "_blank" do %>
    <%= image_tag "get_it_google_play_badge.svg", alt: "Link to Google Play", class: "h-12 w-auto" %>
  <% end %>
</div>
