%hr
.row
  .col-sm-4.offset-sm-4
    .text-center
      %p
        - if current_cont?('sessions')
          = link_to "Sign Up", register_path, class: 'btn'
        - elsif current_cont?('tasks', 'index')
          = link_to fa_icon_with_removed_text('plus', text: "Add Task", right: false), new_task_path, class: 'btn'
        - elsif current_cont?('tasks') || current_cont?('users', 'edit') || current_cont?('users', 'update')
          = link_to tasks_path, class: 'btn' do
            = icon('fa-regular', 'arrow-left')
            Tasks
        - elsif current_cont?('users')
          = link_to "Log In", login_path, class: 'btn'
        - else
          = "Any link or button?"
%hr
