!!!
%html
  %head
    %title ongoin.gs

    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

    = stylesheet_link_tag 'application', "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body
    = render 'layouts/flash', flash: flash

    .container-fluid
      = render 'layouts/tab_bar'
      = yield
      = render 'layouts/page_bottom'

    = yield :page_specific_js
